CompileFlags:
  Add:
    - --target=x86_64-pc-windows-msvc
    - -std=c++17
    - -DUNICODE
    - -D_UNICODE
    - -Isrc
    - -Ithird_party/sherpa-onnx/include
    - -Ithird_party/onnxruntime/include
    - -Ithird_party/kaldi_native_fbank/include
    - -finput-charset=UTF-8
    - -fexec-charset=UTF-8
  Compiler: cl
Diagnostics:
  Suppress:
    - clang-diagnostic-msvc-include
